{% extends "base.html" %}

{% block extrahead %}
  <meta name="google-site-verification" content="google-site-verification=kBaHBr-cch2FLMAWSHfasu_DIUXGakIH2i2pIStoROc" />
  {% if config.extra.git_hash %}
    <meta name="git-hash" content="{{ config.extra.git_hash }}">
  {% endif %}
  {{ super() }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('a[href^="http"]').forEach(function(link) {
        if (!link.href.startsWith(window.location.origin)) {
          link.target = '_blank';
          link.rel = 'noopener noreferrer';
        }
      });
    });
  </script>
{% endblock %}
